<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.ibatis.example.MemberMapper">
  <resultMap id="memberResult" type="org.apache.ibatis.example.Member">
    <result column="id" property="id"/>
    <result column="username" property="username"/>
    <result column="password" property="password"/>
  </resultMap>
  <select id="selectMemberById" resultMap="memberResult">
    select * from member where id = #{id} and username = #{name}
  </select>
</mapper>
